@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // scroll-behavior: smooth;
    text-decoration: none;
    font-style: unset;
}
*,*:focus,*:hover{
    outline: none;
}
.container {
    width: 1080px;
    margin: 0 auto;
}
footer {
    height: 151px;
    background-color: #B0CDE4;
    p {
        font-family: PT Sans;
        font-weight: normal;
        font-size: 18px;
        width: 40px;
        margin: auto;
        line-height: 151px;
        
    }
}
.hidden {
    display: none;
}
.flex {
    display: flex;
}
.block {
    display: block;
}

@import 'blocks/header';
@import 'blocks/services';
@import 'blocks/projects';
@import 'blocks/advantages';
@import 'blocks/popup';
@import 'blocks/contacts';

@import 'elements/buttons';
@import 'elements/grid';
@import 'elements/slider';
@import 'elements/headings';
@import 'elements/animations';
@import 'elements/to_top';
@import 'elements/separator';


