.separator {
    height: 0px;
    border: solid 0.5px lightgrey;
    width: 1260px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 33px;
    margin-left: auto;
    &_left {
        margin-left: 0;
        margin-right: auto;
    }
}
